<script>
	$(document).ready(function () {
		process_solutions();
	});
  function process_solutions() {
		$("div.section[id^='solucion']").each(function(i) {
		  var soln_wrapper_id = "cvxr_ex_" + i;
		  var solution_id = $(this).attr('id');
		  var button = $("<button onclick=\"toggle_solution('" + soln_wrapper_id + "')\">Mostrar / ocultar la solución</button>");
      var new_div = $("<div id='" + soln_wrapper_id + "' class='solution' style='display: none;'></div>");
		  var h = $(this).first();
      var others = $(this).children().slice(1);
	    $(others).each(function() {
	      $(this).appendTo($(new_div));
	    });
	    $(button).insertAfter($(h));
	    $(new_div).insertAfter($(button));
    })
  }
  function toggle_solution(el_id) {
    $("#" + el_id).toggle();
  } 
</script>
