p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
.level1 .header-section-number {
  display: inline-block;
  border-bottom: 3px solid;
}
.level1 h1 {
  border-bottom: 1px solid;
}
.level2 .header-section-number {
  border-bottom: none;
}

body {
  text-align: justify;
}
  
  
.whitebox {
  padding: 1em;
  background: white;
  border: 2px solid blue;
  border-radius: 10px;
}
.center {
  text-align: center;
}

.infobox {
  padding: 1em 1em 1em 4em;
  margin-top: 20px;
  margin-bottom: 25px;
  border: 2px solid #0F578E;
  border-radius: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
}

.nota {
  background-image: url("Figuras/nota.png");
  background-position: 8px 20px; 
}

.ejercicio {
  background-image: url("Figuras/ejercicio.png");
  background-position: 8px 20px; 
}

button {
  padding: 1em 1em 1em 1em;
  margin-bottom: 20px;
  border: 2px solid #0F578E;
  border-radius: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
}
  