body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400;
  color: rgb(61, 61, 61);
}

.quiz,
.choices {
  list-style-type: none;
  padding: 0;
}

.choices li {
  margin-bottom: 5px;
}

.choices label {
  display: flex;
  align-items: center;
}

.choices label,
input[type="radio"] {
  cursor: pointer;
  margin-bottom: 10px;
}

input[type="radio"] {
  margin-right: 8px;
}

.view-results {
  padding: 1rem;
  cursor: pointer;
  font-size: inherit;
  color: white;
  background:rgb(65, 91, 179);
  border-radius: 8px;
  margin-right: 5px;
}

.my-results {
  padding: 1rem;
  border: 1px rgb(65, 91, 179);
}

