body {
  font-family: "Arial", sans-serif;
  font-size: 17px;
  -webkit-text-size-adjust: 100%;
  color: #333;
  background-color: #fff;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  display: flex;
}

.quiz {
  margin: auto;
  width: 100%;
  max-width: 30em;
  display: grid;
  grid-auto-rows: auto;
  grid-columns: 1fr;
  padding: 2em;
  grid-gap: 1em;
  border: 1px solid #e9e9eb;
  box-shadow: 0px 5px 8px rgba(0, 10, 20, 0.06);
}

.quiz-title {
  font-size: 2em;
}

.quiz-question {
  font-size: 1.15em;
}

.quiz-answer {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: linear-gradient(#fafafc, white);
  box-shadow: 0px 2px 2px 1px rgba(0, 10, 20, 0.07);
}

.quiz-answer p {
  z-index: 1000;
}

.circle {
  position: relative;
  height: 1em;
  width: 1em;
  margin-left: 1em;
  flex: 0 0 auto;
  border-radius: 50%;
  border: 0.3em solid #666677;
  background-color: #888899;
}

.quiz-answer p {
  display: block;
  margin: 1em;
  z-index: 10;
}

.feedback {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #dd0077;
  color: white;
  min-height: 100%;
  max-width: 88.6%;
  padding: 1em 1em 1em 2em;
  z-index: 100;
  opacity: 1;
  visibility: hidden;
  -webkit-clip-path: polygon(1.25em 0, 100% 0, 100% 100%, 1.25em 100%, 0 50%);
          clip-path: polygon(1.25em 0, 100% 0, 100% 100%, 1.25em 100%, 0 50%);
}

.correct .feedback {
  background-color: #00ccaa;
}

input {
  display: none;
}

.highlight {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

input:hover ~ .highlight {
  background-color: #f8f8fa;
}

input:checked ~ .highlight {
  background-color: #ffdf44;
}

input:checked ~ .circle {
  background-color: #fafafc;
  border-color: #dd0077;
}

.correct input:checked ~ .circle {
  border-color: #00ccaa;
}

input:checked ~ .feedback {
  visibility: visible;
  -webkit-animation: feedbackfade 3s ease 3s;
          animation: feedbackfade 3s ease 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes feedbackfade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes feedbackfade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
